body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6200ea;
    background: linear-gradient(to right, #012f35, #027A8A);
    color: white;
    padding: 10px 20px;
}

header nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header nav button {
    background-color: #027A8A;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px ;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.perfil{
    text-align: center;
    margin: 20px;
}

.foto-perfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #6200ea;
}

.postagens{
    margin: 20px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.postagem{
    border-bottom: 1px solid #ddd;
    padding: 10px 0 ;
}